<div class="wykres" style="width: 40%">
    <div style="display: block">

        <canvas baseChart [datasets]="barchart" [labels]="barLabes" [options]="baroptions" [legend]="barlegend" [chartType]="barType">
</canvas>
    </div>
</div>
<div class="wykres1" style="width: 40%">
    <div style="display: block">

        <canvas baseChart [datasets]="barchart1" [labels]="barLabes1" [options]="baroptions1" [legend]="barlegend1" [chartType]="barType1">
</canvas>
    </div>
</div>

<div style="width: 50%">
    <canvas id="canvas"></canvas>
</div>
